:root {
  --first-color: #57d4f3;
  --input-color: #757474;
  --border-color: #5252526b;
  --form-background: rgb(255, 255, 255);
  --error-color: rgb(204, 7, 7);
  --normal-font: 0.8rem;
  --small-font: 0.75rem;
}

.auth-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--form-background);
  -webkit-box-shadow: -1px 5px 10px 1px #5252526b, 5px -5px 10px #ffffff;
          box-shadow: -1px 5px 10px 1px #5252526b, 5px -5px 10px #ffffff;
  width: 80%;
  border-radius: 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
}

.form-controller {
  position: relative;
  margin-bottom: 1.5rem;
  height: 30px;
  width: 90%;
}

.form-controller .form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}

.form-controller .form-label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 0 0.25rem;
  background-color: var(--form-background);
  color: var(--input-color);
  font-size: var(--normal-font);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-controller .form-input + .form-label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: var(--small-font);
  font-weight: 500;
  z-index: 10;
}

.form-controller input:focus + .form-label,
.form-controller input:valid + .form-label {
  color: #08ca79;
}

.err-msg {
  border-radius: 5px;
  color: var(--error-color);
  font-weight: 400;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.submit-form-btn {
  width: 90%;
  height: 1.5rem;
  margin: 10px;
  border: none;
  position: relative;
  font-size: 0.8rem;
  border-radius: 5px;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, from(rgba(120, 189, 253, 0.75)), to(rgba(179, 120, 255, 0.75)));
  background: linear-gradient(to right, rgba(120, 189, 253, 0.75), rgba(179, 120, 255, 0.75));
}

.submit-form-btn::before {
  content: '';
  z-index: -1;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: calc(100% - 1%);
  border-radius: 3px;
  height: 80%;
  position: absolute;
  background-color: #ffffff;
}

.form-footer {
  font-size: 0.8rem;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-footer span {
  text-align: center;
}

.link-btn {
  margin-left: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: #7b2cfc;
}
/*# sourceMappingURL=auth.style.css.map */