.btn-submit {
	width: 150px;
	font-size: 0.8rem;
	padding: 5px;
	border: none;
	background-color: #3b3b3b;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	transition: all 0.2s linear;
	a {
		color: #fff;
		font-size: 0.8rem;
	}

	&:hover {
		transition: all 0.2s linear;
		transform: scale(1.1);
		box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.37);
	}
}
.btn-images {
	background-color: #ffb83593;
	border: none;
	border-radius: 3px;
	padding: 5px;
	outline: none;
	color: rgb(0, 0, 0);
	transition: 0.2s ease-in-out;
	a {
		color: rgb(0, 0, 0);
		font-size: 0.8rem;
	}
	&:hover {
		transform: scale(1.1);
		background-color: #ffaf53ec;
		box-shadow: 0 2px 8px rgba(255, 179, 79, 0.74);
	}
}

.btn-danger {
	background-color: #f0262693;
	border: none;
	border-radius: 3px;
	padding: 5px;
	outline: none;
	color: #fff;
	transition: 0.2s ease-in-out;
	&:hover {
		transform: scale(1.1);
		background-color: #f02626ec;
		box-shadow: 0 2px 8px rgba(255, 38, 38, 0.74);
	}
}
.btn-edit {
	background-color: #269ff093;
	border: none;
	border-radius: 3px;
	padding: 5px;
	outline: none;
	color: #fff;
	transition: 0.2s ease-in-out;
	&:hover {
		transform: scale(1.1);
		background-color: #268ef0ec;
		box-shadow: 0 2px 8px rgba(38, 175, 255, 0.74);
	}
}
.btn-cancel {
	background-color: #fdfdfd93;
	border: none;
	border-radius: 3px;
	padding: 5px;
	outline: none;
	color: rgb(0, 0, 0);
	transition: 0.2s ease-in-out;
	&:hover {
		transform: scale(1.1);
		background-color: #ffffffec;
		box-shadow: 0 2px 8px rgba(247, 247, 247, 0.582);
	}
}

.btn-back {
	width: 150px;
	font-size: 0.8rem;
	padding: 2px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: #ffffff;
	border-radius: 5px;
	color: rgb(0, 0, 0);
	cursor: pointer;
	transition: all 0.2s linear;
	a {
		color: #fff;
		font-size: 0.8rem;
	}
	&:hover img {
		transform: translate(-10px);
	}

	img {
		width: 20px;
		height: 20px;
		transition: all 0.2s linear;
	}
}
