.btn-submit {
  width: 150px;
  font-size: 0.8rem;
  padding: 5px;
  border: none;
  background-color: #3b3b3b;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn-submit a {
  color: #fff;
  font-size: 0.8rem;
}

.btn-submit:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.37);
          box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.37);
}

.btn-images {
  background-color: #ffb83593;
  border: none;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  color: black;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn-images a {
  color: black;
  font-size: 0.8rem;
}

.btn-images:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #ffaf53ec;
  -webkit-box-shadow: 0 2px 8px rgba(255, 179, 79, 0.74);
          box-shadow: 0 2px 8px rgba(255, 179, 79, 0.74);
}

.btn-danger {
  background-color: #f0262693;
  border: none;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn-danger:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #f02626ec;
  -webkit-box-shadow: 0 2px 8px rgba(255, 38, 38, 0.74);
          box-shadow: 0 2px 8px rgba(255, 38, 38, 0.74);
}

.btn-edit {
  background-color: #269ff093;
  border: none;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn-edit:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #268ef0ec;
  -webkit-box-shadow: 0 2px 8px rgba(38, 175, 255, 0.74);
          box-shadow: 0 2px 8px rgba(38, 175, 255, 0.74);
}

.btn-cancel {
  background-color: #fdfdfd93;
  border: none;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  color: black;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn-cancel:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #ffffffec;
  -webkit-box-shadow: 0 2px 8px rgba(247, 247, 247, 0.582);
          box-shadow: 0 2px 8px rgba(247, 247, 247, 0.582);
}

.btn-back {
  width: 150px;
  font-size: 0.8rem;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn-back a {
  color: #fff;
  font-size: 0.8rem;
}

.btn-back:hover img {
  -webkit-transform: translate(-10px);
          transform: translate(-10px);
}

.btn-back img {
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/*# sourceMappingURL=button.style.css.map */