.images-list-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.no-image-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-top: 10px;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-image-container p {
  color: #494949;
  font-size: 1rem;
  font-weight: 500;
}

.no-image-container .no-image-btn {
  width: 150px;
  font-size: 0.8rem;
  padding: 5px;
  border: none;
  background-color: #3b3b3b;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.no-image-container .no-image-btn a {
  color: #fff;
}

.no-image-container .no-image-btn:hover {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.37);
          box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.37);
}

.image-wrapper {
  background: #fff;
  width: 100%;
  height: 400px;
  justify-self: center;
  overflow: hidden;
  outline-style: solid;
  outline-width: 1px;
  outline-color: rgba(124, 124, 124, 0.658);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.image-wrapper .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-wrapper .image-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(105, 105, 105, 0.589);
  border-top: none;
  border-right: none;
  border-radius: 0px 0px 0px 4px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  gap: 10px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.image-wrapper .image-action button {
  width: 40px;
  height: 30px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
}

.image-wrapper .image-action button img {
  width: 20px;
}

.image-wrapper:hover .image-action {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
/*# sourceMappingURL=images.style.css.map */