.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h4 {
		font-weight: 500;
		color: rgb(88, 88, 88);
		margin-top: 20px;
	}

	button {
		margin-top: 20px;
	}
}
