.main-nav-header {
	display: none;
}
.main-nav-header-btn {
	position: absolute;
	display: block;
	left: 0;
}

@media (min-width: 768px) {
	.main-nav-header-btn {
		display: none;
	}

	.main-nav-header {
		display: flex;
		position: absolute;
		right: 10px;
		width: auto;
	}
	.nav-link-wrapper {
		flex-direction: row;
	}
}
