.albums-list {
	width: 100%;
	height: 100%;
}
.loading-indicator {
	z-index: 100;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.no-albums {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.no-album-message {
		font-size: 1rem;
		text-align: center;
		line-height: 25px;
		margin: 10px 0;
	}
}
